<style type="text/css">

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=c3f893d0-8cb6-4c74-a869-741ccf09c450");
    @font-face{
        font-family:"Proxima N W01 Reg";
        src:url("Fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
        src:url("Fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("Fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("Fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("Fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("Fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
    }
    @font-face{
        font-family:"Proxima N W01 Bold";
        src:url("Fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
        src:url("Fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("Fonts/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),url("Fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("Fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),url("Fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
    }

</style>

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-size: 18px;
  line-height: 27px;
  color: #3d3f44;
  font-family: "Proxima N W01 Reg";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default; }

h1 {
  font-size: 80px;
  line-height: 72px;
  letter-spacing: -2px; 
  font-family: "Proxima N W01 Bold";
}

h3 {
  font-size: 14px;
  text-transform: uppercase; }
  h3:after {
    width: 60px;
    height: 1px;
    background-color: #e9edf2;
    display: inline-block;
    content: "";
    margin: 20px 0 40px; }

span {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #adb0bc; }
  span a {
    color: #adb0bc; }

a {
  display: inline-block;
  color: #5b81ce;
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear; }
  a:hover {
    color: #7ab4f9; }

p {
  margin-bottom: 20px; }

/*-----------------------------------------------------
960 Grid System ~ Core CSS.
Learn more ~ http://960.gs/
Licensed under GPL and MIT.
-------------------------------------------------------*/
/* Grid Settings
---------------------------*/
body {
  min-width: 960px; }

/* `Containers
----------------------------------------------------------------------------------------------------*/
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0 !important; }

.omega {
  margin-right: 0 !important; }

.rtl {
  float: right !important; }

/* `Grid >> Columns
----------------------------------------------------------------------------------------------------*/
/* `Prefix Extra Space
----------------------------------------------------------------------------------------------------*/
/* `Suffix Extra Space
----------------------------------------------------------------------------------------------------*/
/* `Push Space
----------------------------------------------------------------------------------------------------*/
/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* `Containers
----------------------------------------------------------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  margin: 0 auto; }
  .container :before, .container :after {
    content: "";
    clear: both;
    display: table; }

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: block; }
  .row:before, .row:after {
    content: "";
    clear: both;
    display: table; }
  .row + .row {
    margin-top: 20px; }

/* `Break Columns
----------------------------------------------------------------------------------------------------*/
.clear {
  clear: both; }

/* `Regular columns 
----------------------------------------------------------------------------------------------------*/
.grid-1 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 3.125%; }

.grid-2 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 7.29166667%; }

.grid-3 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 11.45833334%; }

.grid-4 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 15.62500001%; }

.grid-5 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 19.79166668%; }

.grid-6 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 23.95833335%; }

.grid-7 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 28.12500002%; }

.grid-8 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 32.29166669%; }

.grid-9 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 36.45833336%; }

.grid-10 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 40.62500003%; }

.grid-11 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 44.7916667%; }

.grid-12 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 48.95833337%; }

.grid-13 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 53.12500004%; }

.grid-14 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 57.29166671%; }

.grid-15 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 61.45833338%; }

.grid-16 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 65.62500005%; }

.grid-17 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 69.79166672%; }

.grid-18 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 73.95833339%; }

.grid-19 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 78.12500006%; }

.grid-20 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 82.29166673%; }

.grid-21 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 86.4583334%; }

.grid-22 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 90.62500007%; }

.grid-23 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 94.79166674%; }

.grid-24 {
  display: inline;
  float: left;
  margin-left: 0.520833335%;
  margin-right: 0.520833335%;
  width: 98.95833341%; }

/* `Gutter left columns
-------------------------------------------------------------------------------------------------------------------*/
.grid-1-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 3.645833335%; }

.grid-2-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 7.812500005%; }

.grid-3-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 11.979166675%; }

.grid-4-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 16.145833345%; }

.grid-5-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 20.312500015%; }

.grid-6-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 24.479166685%; }

.grid-7-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 28.645833355%; }

.grid-8-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 32.812500025%; }

.grid-9-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 36.979166695%; }

.grid-10-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 41.145833365%; }

.grid-11-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 45.312500035%; }

.grid-12-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 49.479166705%; }

.grid-13-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 53.645833375%; }

.grid-14-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 57.812500045%; }

.grid-15-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 61.979166715%; }

.grid-16-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 66.145833385%; }

.grid-17-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 70.312500055%; }

.grid-18-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 74.479166725%; }

.grid-19-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 78.645833395%; }

.grid-20-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 82.812500065%; }

.grid-21-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 86.979166735%; }

.grid-22-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 91.145833405%; }

.grid-23-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 95.312500075%; }

.grid-24-gutter-left {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0.520833335%;
  width: 99.479166745%; }

/* `Gutter right columns
-------------------------------------------------------------------------------------------------------------------*/
.grid-1-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 3.645833335%; }

.grid-2-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 7.812500005%; }

.grid-3-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 11.979166675%; }

.grid-4-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 16.145833345%; }

.grid-5-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 20.312500015%; }

.grid-6-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 24.479166685%; }

.grid-7-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 28.645833355%; }

.grid-8-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 32.812500025%; }

.grid-9-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 36.979166695%; }

.grid-10-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 41.145833365%; }

.grid-11-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 45.312500035%; }

.grid-12-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 49.479166705%; }

.grid-13-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 53.645833375%; }

.grid-14-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 57.812500045%; }

.grid-15-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 61.979166715%; }

.grid-16-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 66.145833385%; }

.grid-17-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 70.312500055%; }

.grid-18-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 74.479166725%; }

.grid-19-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 78.645833395%; }

.grid-20-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 82.812500065%; }

.grid-21-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 86.979166735%; }

.grid-22-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 91.145833405%; }

.grid-23-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 95.312500075%; }

.grid-24-gutter-right {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0.520833335%;
  width: 99.479166745%; }

/* `Full Gutter columns
-------------------------------------------------------------------------------------------------------------------*/
.grid-1-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 4.16666667%; }

.grid-2-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 8.33333334%; }

.grid-3-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 12.50000001%; }

.grid-4-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 16.66666668%; }

.grid-5-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 20.83333335%; }

.grid-6-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 25.00000002%; }

.grid-7-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 29.16666669%; }

.grid-8-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 33.33333336%; }

.grid-9-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 37.50000003%; }

.grid-10-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 41.6666667%; }

.grid-11-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 45.83333337%; }

.grid-12-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 50.00000004%; }

.grid-13-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 54.16666671%; }

.grid-14-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 58.33333338%; }

.grid-15-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 62.50000005%; }

.grid-16-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 66.66666672%; }

.grid-17-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 70.83333339%; }

.grid-18-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 75.00000006%; }

.grid-19-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 79.16666673%; }

.grid-20-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 83.3333334%; }

.grid-21-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 87.50000007%; }

.grid-22-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 91.66666674%; }

.grid-23-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 95.83333341%; }

.grid-24-gutter-full {
  display: inline;
  float: left;
  margin-right: 0;
  margin-left: 0;
  width: 100.00000008%; }

/* `Full Gutter columns
-------------------------------------------------------------------------------------------------------------------*/
.push-1 {
  position: relative;
  left: 3.125%; }

.push-2 {
  position: relative;
  left: 7.29166667%; }

.push-3 {
  position: relative;
  left: 11.45833334%; }

.push-4 {
  position: relative;
  left: 15.62500001%; }

.push-5 {
  position: relative;
  left: 19.79166668%; }

.push-6 {
  position: relative;
  left: 23.95833335%; }

.push-7 {
  position: relative;
  left: 28.12500002%; }

.push-8 {
  position: relative;
  left: 32.29166669%; }

.push-9 {
  position: relative;
  left: 36.45833336%; }

.push-10 {
  position: relative;
  left: 40.62500003%; }

.push-11 {
  position: relative;
  left: 44.7916667%; }

.push-12 {
  position: relative;
  left: 48.95833337%; }

.push-13 {
  position: relative;
  left: 53.12500004%; }

.push-14 {
  position: relative;
  left: 57.29166671%; }

.push-15 {
  position: relative;
  left: 65.62500005%; }

.push-16 {
  position: relative;
  left: 65.62500005%; }

.push-17 {
  position: relative;
  left: 69.79166672%; }

.push-18 {
  position: relative;
  left: 73.95833339%; }

.push-19 {
  position: relative;
  left: 78.12500006%; }

.push-20 {
  position: relative;
  left: 82.29166673%; }

.push-21 {
  position: relative;
  left: 86.4583334%; }

.push-22 {
  position: relative;
  left: 90.62500007%; }

.push-23 {
  position: relative;
  left: 94.79166674%; }

html {
  border-top: 3px solid #ff0068; }

nav {
  padding: 20px;
  margin-bottom: 60px; }
  nav .avatar {
    border-radius: 50px;
    overflow: hidden;
    height: 90px;
    width: 90px;
    opacity: .5;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear; }
    nav .avatar img {
      width: 100%; }
    nav .avatar:hover {
      opacity: 1; }

.shot {
  margin-bottom: 60px;
  padding: 15px;
  opacity: .5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  border: 1px solid #fff; }
  .shot:hover {
    opacity: 1;
    border: 1px solid #e9edf2; }
  .shot .title {
    font-size: 12px;
    line-height: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px; }
    .shot .title a {
      color: #3d3f44;
      text-decoration: none; }
      .shot .title a:hover {
        color: #5b81ce; }
  .shot .description {
    font-size: 15px;
    line-height: 23px; }
  .shot .snap {
    margin-bottom: 20px; }
    .shot .snap img {
      width: 100%; }
  .shot .heart {
    position: relative;
    width: 10px;
    height: 9px;
    display: inline-block; }
    .shot .heart:before {
      position: absolute;
      content: "";
      left: 5px;
      top: 0;
      width: 5px;
      height: 8px;
      background: #ffa6b5;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%; }
    .shot .heart:after {
      position: absolute;
      content: "";
      left: 5px;
      top: 0;
      width: 5px;
      height: 8px;
      background: #ffa6b5;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
      left: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  .shot .love {
    display: inline-block; }
  .shot .rebound {
    float: right; }

footer {
  margin-top: 20px; }
  footer:before {
    width: 60px;
    height: 1px;
    margin-bottom: 20px;
    background-color: #e9edf2;
    display: inline-block;
    content: ""; }
  footer p {
    font-size: 12px;
    color: #adb0bc; }
    footer p a {
      color: #adb0bc;
      text-decoration: underline; }
