// _typeworks.scss

html, body {
	font-size: 14px;
	line-height: 20px;
	color: $base;
	@include font-smoothing;
}

h1 {
	font-size: 60px;
	line-height: 72px;
}

h3 {
	font-size: 14px;
	&:after {
		width: 60px;
		height: 1px;
		background-color: $lo-contrast;
		display: inline-block;
		content: "";
		margin: 20px 0 40px;
	}
}

span {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 1px;
	color: $light-gray;
}

a {
	display: inline-block;
	color: $url;
	text-decoration: none;
	@include transition;
	&:hover {
		color: $url-hover;
	}
}

p {
	margin-bottom: 20px;
}