.slide {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.slick-slide {
    margin-right: 15px;
}

.slick-dots {
    justify-content: center;
    text-align: center;
}

.slick-dots li button {
    border: none;
    font-size: 0;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    width: 2px;
    height: 5px;
    margin: 0 15px;
}