.row {
    animation: fadein 1s;
}

.blink {
    animation: fadein 1s steps(2) infinite;
}

.shot {
    animation: fadein 2.5s;
}

footer {
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
