.row {
    animation: fadein 1s;
}

.blink {
    animation: fadein 1s steps(2) infinite;
}

.shot {
    animation: fadein 2.5s;
}

footer {
    animation: fadein 3s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
